Host ssh.dev.azure.com
	HostName ssh.dev.azure.com
	User git
	IdentityFile ~/.ssh/id_rsa
	IdentitiesOnly yes
	PubkeyAcceptedKeyTypes +ssh-rsa

Host hv
	HostName 192.168.88.253
	User wmb

Host k8s
	HostName 192.168.88.249
	User wmb

Host code
	HostName 192.168.88.248
	User wmb

Host pi
	HostName 192.168.88.250
	User wmb
	
Host desk
	HostName 192.168.88.251
    StrictHostKeyChecking=no
	User wmb

Host hv.lab
	HostName 192.168.1.180
	User wmb
	Port 23

Host k8s.lab
	HostName 192.168.1.180
	User wmb
	Port 24

Host code.lab
	HostName 192.168.1.180
	User wmb
	Port 22

Host pi.lab
	HostName 192.168.1.180
	User wmb
	Port 26
	
Host desk.lab
	HostName 192.168.1.180
	User wmb
	Port 25

Host code.home.wmb
	HostName 201.235.71.29
	User wmb

# AWS Genies CMS Stack
Host BastionCMS
	Hostname=ec2-34-212-87-159.us-west-2.compute.amazonaws.com
    User wenceslao
Host WebA01CMS
    Hostname ip-10-1-10-40.us-west-2.compute.internal
    User wenceslao
    ProxyJump BastionCMS
Host WebB01CMS
    Hostname ip-10-1-11-40.us-west-2.compute.internal
    User wenceslao
    ProxyJump BastionCMS
Host EchoCMS
	Hostname ec2-54-202-34-32.us-west-2.compute.amazonaws.com
	User wenceslao
    ProxyJump BastionCMS
